@import url('/images/wave.svg');

/*Starting with the navbar;*/

.navBar {
    height: 74px;
    background: linear-gradient(90deg, #9500CA 1.39%, #CB38FF 50%, #9500CA 100%);
    color: #232323;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

/*Styling the content inside the navbar*/

.leftBox{
    display: flex;
    font-size: 20px;
}

.titleOne{
    font-weight: 500;
}

.titleTwo{
    font-weight: 700;
}

.rightBox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightBox button{
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
}

.rightBox button:hover{
    color: #fff;
    transition:ease-out;
    transition-duration: 0.3s;
}

#sun:hover path{
    fill: #fff;
    transition:ease-out;
    transition-duration: 0.3s;
}

/*Styling the first div*/

.partOne{
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 800px;
    max-width: 1000px;
}

.contentTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.rocketGif{
    height: 260px;
}

.rocketGif:hover{
    animation-duration: 3s;
    animation-name: changeposition2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes changeposition2 {
    from {
        margin-top: 0px;
    }

    to {
        margin-top: -500px;
    }
}

.picture{
    height: 220px;
    margin-right: 50px;
}

.aboutMe{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

.textOne{
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list svg path{
    fill:#fff;
}

.list svg:hover path{
    fill: #CB38FF;
    transition:ease-out;
    transition-duration: 0.3s;
}

.list{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Styling the second part*/

.partTwo{
    position: relative;
    height: 800px;
    background-image: url(/images/wave.svg);
    background-position: 0%;
    background-size: initial;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partTwo{
    animation-duration: 6s;
    animation-name: changeposition;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes changeposition {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100%{
        background-position: 0%;
    }
}

#One{
    color: #232323;
}

.textTwo{
    margin-top: 80px;
    color: #232323;
    font-weight: 500;
    font-size: 20px;
    min-width: 700px;
    max-width: 900px;
}


/*Styling the third part of the project*/

.partThree{
    position: relative;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#Two{
    margin-top: 50px;
}

.textThree{
    margin-top: 100px;
    font-weight: 500;
    font-size: 20px;
    min-width: 700px;
    max-width: 900px;
}

/*Styling the fourth part of the project*/

.partFour{
    position: relative;
    height: 800px;
    background-image: url(/images/wave.svg);
    background-position: 0%;
    background-size: initial;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partFour{
    animation-duration: 6s;
    animation-name: changeposition;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#Three{
    color: #232323;
}

.textFour{
    color: #232323;
    margin-top: 100px;
    font-weight: 500;
    font-size: 20px;
    min-width: 700px;
    max-width: 900px;
}

.list2{
    margin-top: 25px;

    color: #232323;
    list-style-type: disc;
    font-weight: 500;
    font-size: 20px;
}

/*Styling the bottom-bar*/

.bottomBar{
    margin-top: 150px;
    height: 50px;
    background: linear-gradient(90deg, #9500CA 1.39%, #CB38FF 50%, #9500CA 100%);
    color: #232323;
}